#title {
    -fx-font-size: 26;
    -fx-text-fill: yellow;
    -fx-font-weight: bold;
}

#info {
    -fx-font-size: 16;
    -fx-text-fill: turquoise;
    -fx-font-weight: bold;
}

#back {
    -fx-background-color: #444;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#root {
    -fx-background-color: black;
}
